<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <script src="https://kit.fontawesome.com/a186e1223e.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="nav-bar"></div>
  <div class="player-bar">
    <i class="fa-solid fa-backward fa-xl"></i>
    <i class="fa-solid fa-play fa-2xl"></i>
    <i class="fa-solid fa-forward fa-xl"></i>
  </div>
  melon
</body>

</html>