<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <script src="https://kit.fontawesome.com/a186e1223e.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="nav-bar">
    my music player
  </div>
  <div class="player-bar">
    <i class="fa-solid fa-backward fa-xl"></i>
    <i class="fa-solid fa-play fa-2xl"></i>
    <i class="fa-solid fa-forward fa-xl"></i>
  </div>
  <div class="content">
    <div class="playlist-shelf">
      <div class="playlist-item">
        <div class="playlist-item-main">
          <img alt="sample_album_art"
            src="https://lh3.googleusercontent.com/yg7U52lN4NMHddFXE1de6d99puDNeC-1U6q5PnLjXPatrexqW9AOoWC8a5EJBULlXraaEWU8OvKrFYrp1A=w544-h544-l90-rj" />
          <p class="title">Ditto</p>
        </div>
        <p class="singer">NewJeans</p>
        <p class="length">3:00</p>
      </div>
      <div class="playlist-item">
        song
      </div>
      <div class="playlist-item">
        song
      </div>

    </div>
  </div>
</body>

</html>